<div class="container-index container-redoc">
  <div class={{concat "row-index row-redoc " (if (and iframeSrcLoading anchor) "iframe-src-loading")}}>
    <div class="row-loading-anchor">
      <span class="loading-text">
        {{t "api.showApi.loading"}} {{anchor}}...
      </span>
    </div>
    {{#if (and iframeApiVersion apiComponent)}}
      {{#if (or (not documentLoadStatus) (lt documentLoadStatus 400))}}
        {{redoc-iframe
          apiVersion=iframeApiVersion
          apiComponent=apiComponent
          anchor=anchor
          aboveElementSelector=".api-components-menu"
          iframeSrcLoadingChanged=(action "iframeSrcLoadingChanged")
          documentLoadStatusChanged=(action (mut documentLoadStatus))
        }}
      {{else}}
        {{http-status-page statusCode=documentLoadStatus}}
      {{/if}}
    {{/if}}
  </div>
</div>
