{{page-title (t 'onezone.title')}}

<div class="onezone-fog"></div>

{{onezone-sidebar tagName='nav' class='onezone-sidebar'
  providers=model.providers spaces=model.spaces authorizers=model.authorizers
  tokens=model.clienttokens groups=model.groups
  openModal="openModal"}}
{{onezone-top-bar tagName='header' class='onezone-top-bar'}}

<div class="onezone-container-application">
  <div class="onezone-container-application-inner">
    {{outlet}}
  </div>
  <div class="zone-service-info">
    <span class="zone-service-name">{{serviceName}}</span>
    {{#if serviceVersion}}
      <span class="zone-service-version">{{t "onezone.version"}} {{serviceVersion}}</span>
    {{/if}}
  </div>
</div>

{{!-- modals --}}

{{dialog-modal open=(eq modal.type "dialog")
  onConfirm=modal.options.onConfirm
  onCancel=modal.options.onCancel
  title=modal.options.title
  label=modal.options.label
  btnClass="btn-danger"
  closeModal=(action "closeModal")
}}

{{rename-modal open=(eq modal.type "rename")
  onConfirm=modal.options.onConfirm
  onCancel=modal.options.onCancel
  title=modal.options.title
  label=modal.options.label
  originalName=modal.options.originalName
  btnClass="btn-primary"
  closeModal=(action "closeModal")
}}

{{modals/add-space-storage open=(eq modal.type "addSpaceStorage")
  space=modal.options.space
}}
