{{page-title (t 'api.title')}}

<div class="api-components-menu">
  <ul>
    {{#each apiComponents as |ac|}}
      {{#link-to "home.api.show-api" apiVersion ac.id
        tagName="li"
        class=(concat "api-components-menu-item clickable " (if (eq ac.id apiComponent) "active"))}}
        {{ac.name}}
      {{/link-to}}
    {{/each}}
  </ul>

  <div class="dropdown api-versions-dropdown">
    <a href="#" class="dropdown-toggle side-dropdown-toggle full-width clickable"
      data-toggle="dropdown" role="button" aria-haspopup="true"
      aria-expanded="false" id="api-versions-dropdown">
      <span class="dropdown-toggle-label">
        {{apiVersion}}
      </span>
      <span class="dropdown-toggle-button">
        <div class="triangle-down"></div>  
      </span>
    </a>

    <ul class="dropdown-menu dropdown-menu-api-versions" aria-labelledby="api-versions-dropdown">
      {{#each apiVersions as |version|}}
        {{#link-to "home.api.show-api" version apiComponent
          tagName="li"
          class="clickable"
        }}
          {{version}}
        {{/link-to}}
      {{/each}}
    </ul>
  </div>

</div>


{{outlet}}
