{{page-title (t 'api.title')}}

<div class="api-components-menu">
  <ul>
    {{#each apiComponents as |ac|}}
      {{#link-to "home.api.show-api" apiVersion ac.id
        tagName="li"
        class=(concat "api-components-menu-item clickable " (if (eq ac.id apiComponent) "active"))}}
        {{ac.name}}
      {{/link-to}}
    {{/each}}
  </ul>

  {{#bs-dropdown class="api-versions-dropdown"}}
    {{#bs-dropdown-toggle class="full-width clickable"}}
      <span class="dropdown-toggle-label">
        {{apiVersion}}
      </span>
      <span class="dropdown-toggle-button">
        <div class="triangle-down"></div>  
      </span>
    {{/bs-dropdown-toggle}}
    {{#bs-dropdown-menu}}
      {{#each apiVersions as |version|}}
        {{#link-to "home.api.show-api" version apiComponent
          tagName="li"
          class=(concat "clickable " (if (eq version model.default) " default-version"))
        }}
          {{version}}
        {{/link-to}}
      {{/each}}
    {{/bs-dropdown-menu}}
  {{/bs-dropdown}}

</div>


{{outlet}}
