{{page-title (t 'login.title')}}

{{!-- TODO: i18n? --}}
<div class="container">
  <div class="row row-centered">
    <div class="col-xs-12 text-center zone">
      <div class="row">
        <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-3 col-md-offset-1 col-md-5 zone-image">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 zone-label">
          <div class="zone-company-name">
            {{#if model.zoneName}}
              {{model.zoneName}}
            {{else}}
              {{t 'login.unknownZoneName'}}
            {{/if}}
          </div>
          <div class="zone-zone">
            {{t 'login.isolatedZone'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{login-box}}

<div class="login-service-version">{{t "login.version"}} {{model.serviceVersion}}</div>
