<ul class="accordion-content">
  {{#if passwordConfigEnabled}}
  <li>
    {{account-item-password}}
  </li>
  {{/if}}
  {{#if isLoading}}
    <li class="non-hoverable">
      {{!-- TODO: add spinner (there is some problems with positioning) --}}
      <div class="account-label">
        {{t 'components.accountsList.loadingAccounts'}}
      </div>
    </li>
  {{else}}
    {{#each authorizersSorted as |account|}}
    <li class="non-hoverable">
      {{account-item type=account.type label=account.email}}
    </li>
    {{/each}}
  {{/if}}
  <li>
    {{#if loadingSupportedAuthorizers}}
      <div class="loading-supported-authorizers">
        {{t 'components.accountsList.loadingSupportedAuthorizers'}}
      </div>
    {{else}}
      {{#unless noSupportedAuthorizers}}
        {{account-add supportedAuthorizers=supportedAuthorizers}}
      {{/unless}}
    {{/if}}    
  </li>
</ul>
