<div class="dropdown side-dropdown">
  <a href="#" class="dropdown-toggle side-dropdown-toggle full-width clickable"
    data-toggle="dropdown" role="button" aria-haspopup="true"
    aria-expanded="false">
    <div class="account-icon account-add-icon sidebar-icon-container">
      {{#if isLoading}}
        {{spin-spinner scale=0.25 lines=12 length=20 width=10}}
      {{else}}
        {{one-icon tagName="div" icon="add"}}
      {{/if}}
    </div>
    <div class="account-label connect-new">
      {{t 'onezone.accountAdd.connectNewAccount'}}
    </div>
  </a>
  <div class="dropdown-menu dropdown-menu-right floater account-add-popup">
    {{!-- TODO: style --}}
    {{#each authProviders as |authProvider|}}
      {{account-item type=authProvider.type label=authProvider.label
        mode="connect" action="connectNewAccount"}}
    {{/each}}
  </div>
</div>
