<div class="drop-panel">
  <div class="drop-title-bar">
    <div class="title-label">
      {{!-- FIXME truncate --}}
      <div class="provider-label">
        {{provider.name}}
      </div>
      {{#unless provider.isWorking}}
        <div class="provider-offline">
          {{t "onezone.providerPlaceDrop.offline"}}
        </div>  
      {{/unless}}
    </div>
  </div>
  <div class="drop-provider-host-container">
    <input class="provider-host-text truncate" value={{provider.host}} readonly>
    <div class="provider-host-copy-btn clickable">
      {{one-icon tagName="div" icon="clipboard-copy"}}
    </div>
  </div>
  <div class="drop-body">
    {{!-- TODO: location name - get it from Google Maps API --}}
    {{!-- <div class="provider-location">
      {{provider.location}}
    </div> --}}
    <ul>
      {{#each spacesSorted as |space|}}
        <li>
          <div class="space-icon">
            {{one-icon icon=(if space.isDefault "space-default" "space")}}
          </div>
          <div class="space-label">
            {{trim-string space.name 20}}
          </div>
          {{!-- TODO: space capacity --}}
          {{!-- <div class="space-size">
            {{space.capacity}}
          </div> --}}
        </li>
      {{/each}}
    </ul>
    {{#if provider.isWorking}}
      <hr>
      {{#spin-button-onedata buttonType="submit"
        action=(action "goToFiles")
        class="btn btn-small btn-pale-green no-outline" spinnerColor="#fff"
        inFlight=goToIsLoading
        disabled=goToIsLoading
      }}
        {{t "onezone.providerPlaceDrop.goToFiles"}}
      {{/spin-button-onedata}}
    {{/if}}
  </div>
</div>
