<div class="drop-panel">
  <div class="drop-title-bar">
    <div class="title-label">
      <div class="provider-label truncate">
        {{provider.name}}
      </div>
      {{#unless provider.isOnline}}
        <div class="provider-label-secondary">
          {{#if (eq provider.status "offline")}}
            {{t "onezone.providerPlaceDrop.offline"}}
          {{else if (eq provider.status "pending")}}
            {{t "onezone.providerPlaceDrop.pending"}}
          {{/if}}
        </div>  
      {{/unless}}
    </div>
  </div>
  <div class="drop-provider-host-container">
    <input class="provider-host-text truncate" value={{provider.host}} readonly>
    {{#copy-button tagName="div" success='copySuccess' error='copyError'
        class="provider-host-copy-btn clickable"
        clipboardTarget=clipboardTarget}}
      {{one-icon tagName="div" icon="clipboard-copy"}}
    {{/copy-button}}

  </div>
  <div class="drop-body">
    {{!-- TODO: location name - get it from Google Maps API --}}
    {{!-- <div class="provider-location">
      {{provider.location}}
    </div> --}}
    <ul>
      {{#each spacesSorted as |space|}}
        {{provider-place-drop-space space=space providerId=provider.id}}
      {{/each}}
    </ul>
    <hr>
    {{#if (eq provider.status "online")}}
      {{#link-to "onezone.provider-redirect" provider.id
        class="btn btn-small no-outline btn-go-to-files btn-pale-green"}}
        {{t "onezone.providerPlaceDrop.goToFiles"}}
      {{/link-to}}
    {{else if (eq provider.status "pending")}}
      <a href="javascript(0);"
        class="btn btn-small no-outline btn-go-to-files btn-disabled">
        {{t "onezone.providerPlaceDrop.pending"}}
      </a>
    {{/if}}
  </div>
</div>
