<div class="row row-centered">
  <div class="{{containerClass}}">
    <div class="row row-centered">
      {{#if isLoading}}

      <div class="spinner-container">
        {{spin-spinner scale=1 lines=12 length=20 width=10}}
      </div>

      {{else}}

        {{#if errorMessage}}
          {{t 'components.socialBoxList.fetchProvidersFailed'}}: {{errorMessage}}
        {{else}}
        <div>
          {{#each supportedAuthorizers as |authorizer|}}
            {{!-- basicAuth is a special case --}}
            {{#if (eq authorizer.type 'basicAuth')}}
              {{social-box 
                type='username' 
                action='showLoginForm' 
                iconType=authorizer.iconType 
                iconName=authorizer.iconName}}
            {{else}}
              {{!-- rhea is a special case with full size logo --}}
              {{social-box 
                type=authorizer.type
                fullSize=(eq authorizer.type "rhea")
                iconType=authorizer.iconType
                iconName=authorizer.iconName
                action='authenticate'
              }}
            {{/if}}
          {{/each}}
        </div>
        {{/if}}

      {{modals/login-form modalId="login-form" open=loginFormOpened}}


      {{/if}}
    </div>
  </div>
</div>
