{{!-- TODO refactor to use sidebar-list-item or secondary accordion --}}
<div class="accordion-group secondary-accordion-group spaces-accordion-group">
  <div class="accordion-heading secondary-accordion-heading spaces-accordion-heading">
    <div class="accordion-toggle secondary-accordion-toggle spaces-accordion-toggle">
      <div class="secondary-item-container">

        <div class="secondary-item-element clickable" data-toggle="collapse" href="#collapse-space-{{space.id}}">

          <div class="secondary-item-container">
            <div class="secondary-item-element secondary-icon space-icon">
              {{one-icon tagName='div' icon=(if space.isDefault "space-home" "space")}}
            </div>
            <div class="secondary-item-element secondary-header space-header truncate">
              {{name-conflict item=space}}
            </div>
            <div class="secondary-item-element secondary-header space-header-size">
              {{bytes-to-string space.totalSize}}
            </div>
          </div>
        </div>
        
        <div class="secondary-item-element star-toggle" {{action "toggleDefault"}}>
          {{#if space.isDefault}}
            {{one-icon tagName='div' icon="home"}}
          {{else}}
            <div class="star-empty">
              {{one-icon tagName='div' icon="home-outline"}}
            </div>
          {{/if}}
        </div>

        {{#if showProviders}}

        <div class="secondary-item-element providers-count clickable" data-toggle="collapse"
          href="#collapse-space-{{space.id}}">
          <div class="icon">
            {{one-icon tagName='div' icon="provider"}}
          </div>
          <div class="one-label after-icon">
            <span>{{providers.length}}</span>
          </div>
        </div>

        {{/if}}
        
        {{space-settings-drop space=space
          class="secondary-item-element settings-tool"
          toggleDefault='toggleDefault'
          openModal="openModal" getSupport="showSupportModal"}}

      </div>


    </div>
  </div>

  <div id="collapse-space-{{space.id}}"
    class="accordion-body secondary-accordion-body spaces-accordion-body sidebar-list collapse">
    <div class="accordion-inner">

      {{#if showProviders}}

      <ul class="tertiary-list">
        {{#each providersSorted as |p|}}
          <li class="sidebar-space-provide hover-parent">
            <div {{action "goToProvider" p}} class="clickable">
              <div class="icon tertiary-icon">
                {{one-icon tagName="div" icon=(if p.isDefault "provider-home" "provider")}}
              </div>
              <div class="one-label after-icon truncate">
                {{name-conflict item=p}}
              </div>
            </div>
            <div class="icon clickable visible-on-parent-hover" {{action "showUnsupportSpaceModal" p}}>
              {{one-icon tagName="div" icon="leave-space"}}
            </div>
          </li>
        {{/each}}
        <li class="get-support clickable" {{action "showSupportModal"}}>
          <div class="icon tertiary-icon">
            {{one-icon tagName="div" icon="add"}}
          </div>
          <div class="one-label after-icon">
            {{t 'onezone.spacesAccordionItem.getSupport'}}
          </div>
          {{!--{{#bs-dropdown tagName="div" class="side-dropdown" open=supportTokenOpened}}
            {{#bs-dropdown-toggle tagName="div" click=(action "showSupportModal")
              class="side-dropdown-toggle get-support-dropdown-toggle full-width clickable"}}
              <div class="icon tertiary-icon">
                {{one-icon tagName="div" icon="add"}}
              </div>
              <div class="one-label after-icon">
                {{t 'onezone.spacesAccordionItem.getSupport'}}
              </div>
            {{/bs-dropdown-toggle}}
            {{#bs-dropdown-menu tagName="div" class="dropdown-menu-right token-popup floater"}}
              {{#if supportToken}}
                <div class="input-with-button">
                  {{input id=(concat "support-token-" (safe-element-id space.id)) value=supportToken readonly=true}}
                  {{#copy-button success='copySuccess' error='copyError'
                      clipboardTarget=(concat "#support-token-" (safe-element-id space.id)) class="btn btn-primary btn-right"}}
                    {{one-icon icon='clipboard-copy'}}
                  {{/copy-button}}
                </div>
              {{else}}
                <div class="one-row">
                  <div class="spinner-container spinner-32">
                    {{spin-spinner scale=0.16 lines=12 length=20 width=10}}
                  </div>
                  <div class="spinner-label spinner-label-32">
                    {{t 'common.fetchingToken'}}
                  </div>
                </div>
              {{/if}}
            {{/bs-dropdown-menu}}
          {{/bs-dropdown}}--}}
        </li>
      </ul>

      {{else}}

        <div class="sidebar-row sidebar-row-text-info">
          {{t 'onezone.spacesAccordion.noViewPermissions'}}
        </div>

      {{/if}}

    </div>
  </div>
</div>
