<div class="accordion secondary-accordion spaces-accordion">
  {{#if isLoading}}
      {{!-- TODO: fix fake accordion group --}}
      <div class="accordion-group secondary-accordion-group spaces-accordion-group">
        <div class="accordion-heading secondary-accordion-heading spaces-accordion-heading">
          <div class="accordion-toggle secondary-accordion-toggle spaces-accordion-toggle">
            <div class="secondary-icon spinner-container">
              {{spin-spinner scale=0.16 lines=12 length=20 width=10 top=14}}
            </div>
            <div class="secondary-header space-header stretch-hack">
              {{!-- TODO: translate --}}
              Loading spaces list...
            </div>
          </div>
        </div>
      </div>
  {{else}}
    {{#each spacesSorted as |s|}}
      {{spaces-accordion-item space=s showUnsupportSpaceModal="showUnsupportSpaceModal"}}
    {{/each}}
  {{/if}}


  {{!-- faking the accordion group... this should be separate class --}}
  <div class="accordion-group secondary-accordion-group spaces-accordion-group">
    <div class="accordion-heading secondary-accordion-heading spaces-accordion-heading">
      <a class="accordion-toggle secondary-accordion-toggle spaces-accordion-toggle create-new first-create-new clickable"
        {{action 'startCreateNewSpace'}}>
        <div class="secondary-icon space-icon">
          {{one-icon icon='space-add'}}
        </div>
        <div class="secondary-header space-header stretch-hack">
          {{#if createNewSpaceEditing}}
            {{input enter='endCreateNewSpace' value=createNewSpaceName autofocus="autofocus"}}
          {{else}}
            {{t 'onezone.spacesAccordion.createNewSpace'}}
          {{/if}}
        </div>
        {{#if createNewSpaceEditing}}
          <div class="secondary-icon" {{action 'endCreateNewSpace' createNewSpaceName bubbles=false }}>
            {{one-icon icon='checkbox-check'}}
          </div>
          <div class="secondary-icon" {{action 'cancelCreateNewSpace' bubbles=false }} >
            {{one-icon icon='checkbox-x'}}
          </div>
        {{/if}}
      </a>
    </div>
  </div>

  {{!-- faking the accordion group... this should be separate class --}}
  <div class="accordion-group secondary-accordion-group spaces-accordion-group">
    <div class="accordion-heading secondary-accordion-heading spaces-accordion-heading">
      <a class="accordion-toggle secondary-accordion-toggle spaces-accordion-toggle create-new clickable"
        {{action 'startJoinSpace'}}>
        <div class="secondary-icon space-icon">
          {{one-icon icon='join'}}
        </div>
        <div class="secondary-header space-header stretch-hack">
          {{t 'onezone.spacesAccordion.joinSpace'}}
        </div>
      </a>
    </div>
  </div>

  <div class="sidebar-row space-add-text-row">
    {{t 'onezone.spacesAccordion.createNewSpaceText'}}
  </div>

  {{!-- TODO: read more button --}}
  {{!-- <div class="sidebar-row space-add-read-more-row">
    <a href="#" class="btn btn-large btn-blue">
      {{t 'onezone.spacesAccordion.readMore'}}
    </a>
  </div> --}}
</div>

{{modals/join-space open=isJoinSpaceModalOpened}}

{{modals/unsupport-space open=isUnsupportModalOpened
space=unsupportSpaceSpace provider=unsupportSpaceProvider}}
