{{!-- TODO: this "emulates" accordion group like in spaces accordion item --}}
{{!-- TODO: but this is not an accordion --}}
{{!-- TODO: create other style class --}}
<div class="accordion-group secondary-accordion-group tokens-accordion-group">
  <div class="accordion-heading secondary-accordion-heading tokens-accordion-heading">
    <a class="accordion-toggle secondary-accordion-toggle tokens-accordion-toggle hover-parent">
      <div class="token-icon secondary-icon">
          {{#if isLoading}}
            <div class="spinner-container">
              {{spin-spinner scale=0.16 lines=12 length=20 width=10 top=14}}
            </div>
          {{else}}
            {{one-icon icon='menu-token'}}
          {{/if}}

      </div>
      <div class="token-header stretch-hack" id="{{inputContainerId}}">
        {{#if isLoading}}
        {{!-- TODO: translate --}}
          Fetching token...
        {{else}}
          {{input value=token.id readonly=true}}
        {{/if}}
      </div>

      {{#copy-button tagName='div' success='copySuccess' error='copyError'
        clipboardTarget=clipboardTarget class="select-button white-on-parent-hover"}}
        <div class="copy-icon">
          {{one-icon icon="copy"}}
        </div>
      {{/copy-button}}
      <div class="trash-button white-on-parent-hover" {{action "remove"}}>
        <div class="remove-icon">
          {{one-icon icon="remove"}}
        </div>
      </div>
    </a>
  </div>
</div>
