<div class="container login-box-container">
  <div class="row row-centered">
    <div class="col-xs-9 col-centered login-box {{loginBoxClasses}}">
      {{#if showAuthenticationError}}
        <h1>
          {{one-icon icon="sign-warning-rounded" class="login-warning-icon"}}
          {{t "login.authenticationError.title"}}
        </h1>
        <div class="container-fluid login-box-error-message">
          <div class="row login-forms-row">
            <div class="login-box-error-message-text">
              {{authenticationErrorText}} {{if showErrorContactInfo (t "login.authenticationError.contactInfo")}}
            </div>
            {{#if showErrorContactInfo}}
              {{input-copy
                inputValue=authenticationErrorState
                class="authentication-error-state-input-copy light"
              }}
            {{/if}}
            <div class="col-xs-12 text-center login-box-error-message-buttons">
              <button type="button" class="btn btn-primary back-button" {{action "back"}}>
                {{one-icon icon="arrow-right"}}
                {{t "login.authenticationError.backToLogin"}}
              </button>
            </div>
          </div>
        </div>
      {{else}}
        <h1>{{t "login.boxTitle"}}</h1>
        {{#if supportedAuthorizers}}
          <div class="container-fluid login-buttons-container">
            <div class="row login-forms-row">
              <div class="login-placeholder"></div>
              <div class="login-form-container animated fast {{if hasAuthorizersForSelect "hide" "always-visible"}}">
                <h2>{{t "login.formSubtitle"}}
                  <span class="subtitle-tip">
                    {{one-icon icon="sign-question"}}
                    {{bs-tooltip title=(if hasAuthorizersForSelect (t "login.formSubtitleTip") (t "login.noProvidersFormSubtitleTip"))}}
                  </span>
                </h2>
                {{login-form 
                  isOpen=isUsernameLoginActive 
                  backAction=(action "usernameLoginToggle") 
                  showBack=hasAuthorizersForSelect}}
              </div>
              {{#if hasAuthorizersForSelect}}
                <div class="authorizers-select-container animated fast">
                  <h2>{{t "login.dropdownSubtitle"}}</h2>
                  {{social-box-list
                    supportedAuthorizers=authorizersForButtons 
                    isLoading=isLoading 
                    authenticate=(action "authenticate")
                    onUsernameLoginClick=(action "usernameLoginToggle")
                    showMoreButton=showMoreProvidersButton
                    showMoreClick=(action "showMoreClick")}}
                  <div class="authorizers-dropdown-container animated fast hide">
                    <div class="dropdown-label">{{t "login.loginWith"}}</div>
                    {{#power-select
                      options=authorizersForSelect
                      onchange=(action "authorizerSelected")
                      matcher=authorizersSelectMatcher
                      selected=selectedAuthorizer
                      dropdownClass="authorizers-dropdown"
                      placeholder=(t "login.findProviderPlaceholder")
                      disabled=_activeAuthorizer
                      as |authorizer|}}
                      {{social-box
                        authId=authorizer.id
                        iconPath=authorizer.iconPath
                        iconBackgroundColor=authorizer.iconBackgroundColor
                        active=(eq authorizer _activeAuthorizer)
                        spinnerScale=0.15
                      }}
                      {{authorizer.displayName}}
                    {{/power-select}}
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        {{else if (and (not isLoading) (not errorMessage))}}
          <p class="no-login-methods">{{t "login.noLoginMethods"}}</p>
        {{/if}}
        {{#if testMode}}
          <div class="login-notification test-mode-notification">
            <span>{{t "login.loginTestMode"}}</span><br>
            {{#link-to "home"}}{{t "login.goBackToMainPage"}}{{/link-to}}
          </div>
        {{else if (and loginNotification (not isLoading))}}
          <div class="login-notification">{{loginNotification}}</div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
